{% extends base_twig %}
{% block homepage %}
<section id="features">
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-lg-4">
                <h2>
                  <!--  <img class="pull-left f-icon" src="{{ theme_url }}/images/iconmonstr-check-mark-4-icon-128.png" alt=""/> -->Register for A Motivated Me Seminar.</h2>

                <p class="copy">
                    If you’ve been hearing about the Seminar in your community, here is where you can pre-register.  By pre-registering you can avoid lines at the registration tables, and you can download a free self-assessment that you can take to help you prepare to get the best out of your Seminar experience.
                </p>

                <p>
                    <a class="btn-warning btn-lg orange-bg"href="{{ site_url }}/register-for-a-motivated-me-seminar">Register Now &raquo;</a>
                </p>
            </div>

            <div class="col-lg-4">

                <h2>
                 <!--   <img class="pull-left f-icon" src="{{ theme_url }}/images/iconmonstr-check-mark-4-icon-128.png" alt=""/> -->
                    Host A Motivated Me Seminar.
                </h2>

                <p class="copy">

                    There are two different hosting options available to you.  You can host a Seminar at your own corporate headquarters for your employees, or you can host one for the community at large.  Click here to contact AMMS for more information.

                </p>

                <p><a class="btn-warning btn-lg orange-bg"href="{{ site_url }}/host-a-motivated-me-seminar">Host a Seminar &raquo;</a></p>
            </div>

            <div class="col-lg-4">
                <h2>
                  <!--  <img class="pull-left f-icon" src="{{ theme_url }}/images/iconmonstr-check-mark-4-icon-128.png" alt=""/> -->Sponsor A Motivated Me Seminar.</h2>

                <p class="copy">
                    We are delighted in your interest in the A Motivated Me Seminar and we would enthusiastically welcome you as a sponsor of the Seminar in your area.
                </p>

                <p>
                    <a class="btn-warning btn-lg orange-bg"href="{{ site_url }}/sponsor-a-seminar/">Sponsor a Seminar &raquo;</a>
                </p>
            </div>

        </div>
    </div>
</section>
 <!-- /container -->

<section id="bio">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <figure class="pull-right">
                   <a href="http://amotivatedme.com/speaker-dexter-thomas/">
                       <img src="{{ theme_url }}/images/dex-suit-sm.jpg" alt="pastor dester" class="img-thumbnail"/>
                   </a>
                    <figcaption>
                        <small>
                            Dr. Dexter Thomas, motivational coach, nonprofit execcutive director, author, entrepreneur.
                        </small>
                    </figcaption>
                </figure>
                <h2> <a href="http://amotivatedme.com/speaker-dexter-thomas/">Speaker - Dexter Thomas </a>   </h2>
<p> With much humor and laughter, Dexter will take you on an incredible journey of learning to live a life of personal power and success.  He has been doing motivational speaking around the world for the past 15 years, speaking in hundreds of events at businesses, churches, universities, and prisons, to over 20,000 individuals in 10 countries.  His heart is to give practical tools for improving every area of our life.
                </p>
                <p>

                Dexter knows about motivation and overcoming because he has overcome significant difficulties in his own life.  Born blind into a poor family of 8 children in a low-income community, his early life had many limitations.  His insights, which come from years of experience, will help you.  And his love for his audience will make you feel right at home. From side splitting laughter to deep personal insights he guarantees to make this a weekend to remember. </p>
            </div>
        </div>
    </div>
</section>

{# {% if mobile.is_mobile == false %}#}
<section id="video-screen">
  <div class="container">
        <div class="row">
            <div class="col-md-12">

                 <aside>
                     <h2>A Motivated Me Seminar Intro.</h2>
                     <p class="lead">Watch and listen as Dexter Introduces the A Motivated Me Seminar, giving you an insight into the six principles of growth and success.</p>
                 {# <div class="video window"></div>
                    <p class="lead">Dexter Thomas Introduces the A Motivated Me Seminar</p>
#}
                     <iframe width="560" height="315" src="//www.youtube.com/embed/B1mheLGrLbw" frameborder="0" allowfullscreen></iframe>
{#<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F131715344&show_artwork=true"></iframe>#}
            </aside>
        </div>
    </div>
        </div>

</section>
{#{% endif %}#}
<section id="reviews">

    <div class="container">
        <div class="row">
            <div class="row principles">
                <div class="row">
                    <div class="col-md-12">
                    <h2>In one weekend, you will learn how to master your life and the principles of growth and success.</h2>

                <p class="lead"></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <h3>Power Talk</h3>
                    <p>
                        Facts and the stories we make up about them. Understand how words have the power to create your thinking and shape your life.
                    </p>

                </div>
                <div class="col-md-4">
                    <h3>Positive Relationship</h3>
                    <p>
                        Without knowing it, we do things that hinder our relationships.  Learn how to identify and change your unnoticed habits that disrupt connection.  See how poor expectations affect oneness.
                    </p>

                </div>
                <div class="col-md-4">
                    <h3>Health</h3>
                    <p>
                        You’re not truly wealthy until you are healthy. Have you wondered why, with all the information about health, fitness, and nutrition that is available to us, we still don't change our unhealthy habits?  Learn eight health laws and how healthy habits can not only be easy to acquire, but even fun and lasting.
                    </p>
                </div>
            </div>
            <div class="row principles">

                <div class="col-md-4">
                    <h3>Change and Procrastination</h3>
                    <p>
                        Procrastination is a dream killer.  You don’t have forever to live out your calling.  Discover a stress-free, positive urgency to pursuing your dreams. Learn how to embrace change and even plan for it.
                    </p>

                </div>
                <div class="col-md-4">
                    <h3>Goals to Greatness</h3>
                    <p>
                        We are our best when we are reaching, climbing, growing, aspiring, and pursuing excellence.  Learn how exciting goal setting can be and how to keep the goals you make.  Learn how to aspire to and practice the habits of greatness.
                    </p>
                </div>
                <div class="col-md-4">
                    <h3>Money</h3>
                    <p>
                        Wrong attitudes about wealth can cripple us.  Learn how blockage and flow impact wealth.  Learn how to use financial stress as motivation. Your financial crisis can become a valuable tool to stimulate your creative juices. Learn how to dispel the notion that it takes money to make money.
                    </p>
                </div>
            </div>

        </div>

  </div>

</section>
{% endblock homepage %}
{% block main %}
{% endblock main %}